@font-face {
  font-family: amazon;
  src: url("../assets/fonts/Amazon.ttf");
}
@font-face {
  font-family: amazon bold;
  src: url("../assets/fonts/Amazon\ Bold.ttf");
}
@font-face {
  font-family: amazone italic;
  src: url("../assets/fonts/Amazon\ Italic.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: amazon;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: center;
}
.nav-bar {
  width: 94%;
  height: 60px;
  background-color: #141921;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 0 0 20px 20px;
}
.left-nav,
.right-nav {
  display: flex;
  align-items: center;
}
.left-nav img {
  width: 80px;
  height: 15px;
  margin-right: 8px;
}
.right-nav img {
  width: 28px;
  height: 28px;
}
.nav-bar a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
}

.nav-bar a:hover {
  background-color: white;
  color: #141921;
  border-radius: 6px;
}

.right-nav a:nth-child(1),
.right-nav a:nth-child(3),
.right-nav a:nth-child(4) {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-nav a:nth-child(1):hover,
.right-nav a:nth-child(3):hover,
.right-nav a:nth-child(4):hover {
  border-radius: 50%;
  background-color: #f2f2f2;
}
.right-nav a:nth-child(5){
    margin-left: 5px;
    padding: 10px 10px;
    background-color: #1E82D5;
    border-radius: 6px;
    color: white;
}
.right-nav a:nth-child(5):hover{
    background-color: #339bf0;
    box-shadow: 0 0 15px #339bf0;
}
.main{
    height: 100vh;
    background-image: url("../assets/images/main-banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
